@import "../../styles/variables.scss";

.cancelCookies {
  display: flex;
  z-index: 9999;
  position: fixed;
  bottom: 0;
  right: 0;
  height: fit-content;
  width: 150px;
  border: none;
  background-color: black;
  color: white;
  border: white 1px solid;
  padding: 0.2em;
  opacity: 0.3;
  cursor: pointer;
  font-size: 0.6em;
  transition: all 0.3s ease-in-out;

  @media (min-width: $sm) {
    font-size: 0.8em;
  }

  &:hover {
    opacity: 1;
  }
}
