// Breakpoint for responsive

$xs: 425px;
$sm: 568px;
$md: 768px;
$lg: 1024px;
$xl: 1280px;
$xxl: 1440px;
$xxxl: 1600px;

// Variables for colors

$color-primary: white;
$color-secondary: rgb(156, 156, 156);
$color-tertiary: #ffeead;
$color-background: #0e0e0e;

// Variables for font-size

// Buttons

@mixin Button {
  height: 30px;
  width: 100%;
  border: none;
  background-color: transparent;
  font-size: 1em;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
}
