@import "../../../styles/variables.scss";

@mixin input {
  width: calc(100% - 5px);
  padding: 0.5em 0;
  border: 1px solid #1a1a1a;
  border-radius: 5px;
  font-weight: 400;
  padding-left: 5px;
}

.professionnel {
  position: relative;
  height: 100%;
  max-height: 950px;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5em;

  a {
    color: white;
  }

  @media (min-height: 630px) {
    gap: 1em;
  }

  @media (min-height: 700px) {
    gap: 1.5em;
  }

  @media (min-height: 750px) {
  }

  &__backgroundImage {
    height: calc(100vh - 4em);
    max-height: 950px;
    width: 100%;
    background-image: url("../../../images/contactPage.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    opacity: 0.4;
  }

  h1 {
    font-size: 1.2em;
    text-align: center;
    font-weight: 700;

    @media (min-width: $md) {
      font-size: 1.5em;
      margin-bottom: 1em;
    }
  }

  &__container {
    height: calc(100vh - 4em);
    width: 90%;
    margin: 1em auto;
    max-width: 900px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 1em;

    &--ico {
      min-height: 60px;
      min-width: 60px;
      font-size: 1.5em;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      background-color: #1a1a1a;
      color: white;
    }

    &__form {
      display: flex;
      flex-direction: column;
      gap: 0.5em;
      width: 100%;

      @media (min-width: $xs) {
        gap: 1em;
      }

      &__name {
        display: flex;
        flex-direction: row;
        gap: 1em;

        div {
          display: flex;
          flex-direction: column;
          gap: 0.1em;
          width: 100%;

          @media (min-width: $xs) {
            gap: 0.2em;
          }

          input {
            @include input;
          }
        }
      }

      &__email {
        display: flex;
        flex-direction: column;
        gap: 0.1em;
        width: 100%;

        @media (min-width: $xs) {
          gap: 0.2em;
        }

        input {
          @include input;
        }
      }

      &__contact {
        display: flex;
        flex-direction: row;
        gap: 1em;

        div {
          display: flex;
          flex-direction: column;
          gap: 0.1em;
          width: 100%;

          @media (min-width: $xs) {
            gap: 0.2em;
          }

          input {
            @include input;
          }
        }
      }

      &__subject {
        display: flex;
        flex-direction: column;
        gap: 0.1em;
        width: 100%;

        @media (min-width: $xs) {
          gap: 0.2em;
        }

        select {
          @include input;
          text-align: center;
        }
      }

      &__message {
        display: flex;
        flex-direction: column;
        gap: 0.5em;

        textarea {
          @include input;
          resize: vertical;
          font-size: 1em;
          height: 80px;

          @media (min-width: 414px) {
            height: 120px;
          }

          @media (min-width: $xs) {
            height: 150px;
          }
        }
      }

      &__submit {
        display: flex;
        justify-content: flex-start;

        button {
          padding: 0.5em 1em;
          background-color: white;
          color: #1a1a1a;
          border: none;
          border-radius: 5px;
          font-weight: 700;
          cursor: pointer;
        }
      }
    }
  }
}
