@import "../../styles/variables.scss";

.review {
  display: flex;
  flex-direction: column;
  max-width: 1440px;
  margin: 0 auto;

  &__container {
    width: 100%;
    margin: 0 auto;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 1em;

    &--img {
      width: 100%;
      object-fit: cover;
      position: relative;

      img {
        width: 100%;
        height: 300px;
        object-fit: cover;
        object-position: center;

        @media (min-width: $xs) {
          height: 350px;
        }

        @media (min-width: $sm) {
          height: 400px;
        }
      }

      span {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 300px;
        background-color: rgba(0, 0, 0, 0.5);

        @media (min-width: $xs) {
          height: 350px;
        }

        @media (min-width: $sm) {
          height: 400px;
        }
      }

      h2 {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1em;
        position: absolute;
        top: 45%;
        left: 50%;
        transform: translate(-50%, 50%);
        color: white;
        font-size: 1em;
        font-weight: 700;
        text-transform: uppercase;
        text-align: center;
        width: 500px;

        @media (min-width: $xs) {
          font-size: 1.2em;
        }

        @media (min-width: $sm) {
          font-size: 1.5em;
        }
      }
    }

    &__content {
      display: flex;
      justify-content: center;
      width: 100%;

      @media (min-width: $lg) {
        justify-content: normal;
        gap: 1em;
      }

      &__leftContent {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 1em;

        @media (min-width: $xs) {
          width: 95%;
        }

        @media (min-width: $lg) {
          width: 70%;
        }

        &__introduction {
          display: flex;
          flex-direction: column;
          width: 100%;
          height: fit-content;

          &--text {
            display: flex;
            flex-direction: column;
            gap: 2em;
            padding: 1em;
            line-height: 28px;
            text-align: justify;

            h3 {
              font-size: 1.2em;
              font-weight: 700;

              @media (min-width: $xs) {
                font-size: 1.35em;
              }

              @media (min-width: $sm) {
                font-size: 1.5em;
              }
            }

            p {
              font-size: 1em;
              font-weight: 400;
            }
          }

          &--image {
            position: relative;

            &--img {
              width: 100%;
              height: 300px;
              object-fit: contain;
              object-position: center;
              position: relative;
              z-index: 2;

              @media (min-width: $xs) {
                height: 350px;
              }

              @media (min-width: $sm) {
                height: 400px;
              }
            }
          }
        }

        &__specTech {
          display: flex;
          flex-direction: column;
          width: 100%;
          height: fit-content;

          &--text {
            display: flex;
            flex-direction: column;
            gap: 2em;
            padding: 1em;
            line-height: 28px;
            text-align: justify;

            h3 {
              font-size: 1.2em;
              font-weight: 700;

              @media (min-width: $xs) {
                font-size: 1.35em;
              }

              @media (min-width: $sm) {
                font-size: 1.5em;
              }
            }

            p {
              font-size: 1em;
              font-weight: 400;
            }
          }

          &--table {
            display: flex;
            flex-direction: column;

            thead {
              font-size: 1em;
              font-weight: 700;
              text-transform: uppercase;

              @media (min-width: $sm) {
                font-size: 1.2em;
              }

              tr {
                display: flex;

                th {
                  flex: 1;
                  padding: 0.5rem;
                  border-top: 1px solid #707070;

                  &:first-child {
                    border-left: 1px solid #707070;
                  }

                  border-right: 1px solid #707070;
                }
              }
            }

            tbody {
              display: flex;
              flex-direction: column;
              font-size: 0.9em;

              @media (min-width: $sm) {
                font-size: 1em;
              }

              tr {
                display: flex;

                &:nth-child(even) {
                  background-color: #e9e9e9;
                }

                &:last-child {
                  border-bottom: 1px solid #707070;
                }

                td {
                  flex: 1;
                  text-align: center;
                  padding: 0.5rem;
                  border-top: 1px solid #707070;

                  &:first-child {
                    border-left: 1px solid #707070;
                  }

                  border-right: 1px solid #707070;
                }
              }
            }
          }
        }

        &__personalExperience {
          display: flex;
          flex-direction: column;
          width: 100%;
          height: fit-content;

          &--text {
            display: flex;
            flex-direction: column;
            gap: 2em;
            padding: 1em;
            line-height: 28px;
            text-align: justify;

            h3 {
              font-size: 1.2em;
              font-weight: 700;

              @media (min-width: $xs) {
                font-size: 1.35em;
              }

              @media (min-width: $sm) {
                font-size: 1.5em;
              }
            }

            p {
              font-size: 1em;
              font-weight: 400;
            }
          }

          &--image {
            position: relative;

            &--img {
              width: 100%;
              height: 300px;
              object-fit: contain;
              object-position: center;
              position: relative;
              z-index: 2;

              @media (min-width: $xs) {
                height: 350px;
              }

              @media (min-width: $sm) {
                height: 400px;
              }
            }
          }
        }

        &__advantagesDisadvantages {
          display: flex;
          flex-direction: column;
          width: 100%;
          height: fit-content;

          &--text {
            display: flex;
            flex-direction: column;
            padding: 1em;
            line-height: 28px;
            text-align: justify;

            h3 {
              font-size: 1.2em;
              font-weight: 700;

              @media (min-width: $xs) {
                font-size: 1.35em;
              }

              @media (min-width: $sm) {
                font-size: 1.5em;
              }
            }

            p {
              font-size: 1em;
              font-weight: 400;
            }
          }

          &--table {
            display: flex;
            flex-direction: column;
            gap: 0.5em;
            padding: 1em;

            div {
              display: flex;

              p {
                display: flex;
                align-items: center;
                flex: 1;
                gap: 0.5em;

                .advantage {
                  color: green;
                  font-size: 1.25rem;
                  font-weight: 700;
                }

                .disadvantage {
                  color: red;
                  font-size: 1.25rem;
                  font-weight: 700;
                }
              }
            }
          }

          &--explanation {
            display: flex;
            flex-direction: column;
            padding: 1em;
            line-height: 28px;
            text-align: justify;
            font-size: 1em;
            font-weight: 400;
          }
        }

        &__ratings {
          display: flex;
          flex-direction: column;
          width: 100%;
          height: fit-content;
          gap: 2em;
          padding: 1em;

          &--text {
            display: flex;
            flex-direction: column;
            line-height: 28px;
            text-align: justify;

            h3 {
              font-size: 1.2em;
              font-weight: 700;

              @media (min-width: $xs) {
                font-size: 1.35em;
              }

              @media (min-width: $sm) {
                font-size: 1.5em;
              }
            }

            p {
              font-size: 1em;
              font-weight: 400;
            }
          }

          &--rating {
            display: flex;
            flex-direction: column;
            gap: 0.5em;

            @media (min-width: $xs) {
              display: grid;
              grid-template-columns: repeat(2, 1fr);
            }

            @media (min-width: $md) {
              display: grid;
              grid-template-columns: repeat(3, 1fr);
            }

            .singleRating {
              display: flex;
              gap: 0.5em;

              p {
                font-size: 1rem;

                @media (min-width: $sm) {
                  font-size: 1.2rem;
                }
              }
            }
          }
        }

        &__linkShop {
          display: flex;
          flex-direction: column;
          width: 100%;
          height: fit-content;
          gap: 2em;
          padding: 1em;

          &--text {
            display: flex;
            flex-direction: column;
            line-height: 28px;
            text-align: justify;

            h3 {
              font-size: 1.2em;
              font-weight: 700;

              @media (min-width: $xs) {
                font-size: 1.35em;
              }

              @media (min-width: $sm) {
                font-size: 1.5em;
              }
            }

            p {
              font-size: 1em;
              font-weight: 400;
            }
          }

          &--links {
            display: grid;
            grid-template-columns: repeat(3, 1fr);

            a {
              font-size: 1rem;

              @media (min-width: $sm) {
                font-size: 1.2rem;
              }
            }
          }
        }

        &__conclusion {
          display: flex;
          flex-direction: column;
          gap: 1em;

          &--text {
            display: flex;
            flex-direction: column;
            gap: 2em;
            padding: 1em;
            line-height: 28px;
            text-align: justify;

            h3 {
              font-size: 1.2em;
              font-weight: 700;

              @media (min-width: $xs) {
                font-size: 1.35em;
              }

              @media (min-width: $sm) {
                font-size: 1.5em;
              }
            }

            p {
              font-size: 1em;
              font-weight: 400;
            }
          }
        }
      }

      &__rightContent {
        display: none;

        @media (min-width: $lg) {
          position: relative;
          right: 0;
          display: flex;
          width: 30%;
          flex-direction: column;
          gap: 1em;
        }

        &.fixed {
          position: fixed;
          top: 0;
        }
      }
    }

    &--image {
      img {
        width: 100%;
        height: 400px;
        object-fit: cover;
        object-position: center;
      }
    }

    &__carousel {
      display: flex;
      flex-direction: column;
      gap: 1em;

      h3 {
        background-color: rgba(0, 0, 0, 0.178);
        padding: 1em;
        text-align: center;
        font-size: 2em;
        font-weight: 700;
      }
    }
  }

  &__carousel {
    margin: 2em auto;
    display: flex;
    flex-direction: column;
    gap: 1em;
    width: 100%;

    h3 {
      background-color: rgba(0, 0, 0, 0.178);
      padding: 1em;
      text-align: center;
      font-size: 1.2em;
      font-weight: 700;
    }
  }

  &--author,
  &--rating {
    width: 95%;
    margin: 0 auto;
  }
}

.backgroundImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  object-fit: cover;
  object-position: center;
  filter: blur(0.4em);
  opacity: 0.8;
}
