.uploading-file {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2em 0;
  color: black;
  text-align: center;
  gap: 2em;

  h1 {
    font-size: 1.5em;
    font-weight: 700;
  }

  &__input {
    display: flex;
    flex-direction: column;
    gap: 1em;
  }

  &__preview {
    display: flex;
    flex-direction: column;
    gap: 1em;

    img {
      width: 100%;
      height: auto;
      object-fit: contain;
    }
  }
}
