@import "../../../styles/variables.scss";

.about-me {
  color: white;
  display: flex;
  flex-direction: column;
  gap: 2em;
  max-width: 90%;
  margin: 4em auto 0 auto;

  @media (min-width: 1440px) {
    max-width: 1440px;
    margin: 4em auto 0 auto;
  }

  @media (min-width: $md) {
    gap: 3em;
  }

  @media (min-width: $lg) {
    display: grid;
    grid-template-columns: 1fr 1.2fr;
  }

  &__title {
    display: flex;
    flex-direction: column;
    gap: 1em;

    &--h2 {
      display: flex;
      flex-direction: column;
      gap: 0.5em;

      h3 {
        width: 80%;
        font-weight: 600;
        font-size: 1.3em;
      }
    }

    &--p {
      display: flex;
      color: $color-secondary;
      text-align: right;
      flex-direction: column;
      gap: 1em;

      .second-desc {
        display: none;
      }

      @media (min-width: $md) {
        padding-left: 5em;
      }

      @media (min-width: $lg) {
        text-align: left;
        padding-left: 0;

        .second-desc {
          display: flex;
        }
      }
    }
  }

  &__timeline {
    width: 100%;
  }

  &--button {
    grid-column: span 2;
    display: flex;
    justify-content: center;
  }
}

.mobileBtn {
  display: flex;

  @media (min-width: $lg) {
    display: none;
  }
}

.desktopBtn {
  display: none;

  @media (min-width: $lg) {
    margin-top: 1em;
    display: flex;
  }
}
