.socialMediaPanel {
  display: flex;
  flex-direction: column;
  background-color: rgb(233, 233, 233);
  align-items: center;
  gap: 1em;
  padding: 0.5em;

  h3 {
    text-align: center;
    font-size: 1.3em;
    font-weight: 700;
  }

  &__container {
    display: flex;
    gap: 1em;
    padding: 1em;

    &--card {
      display: flex;
      height: 100%;
      text-decoration: none;
      color: white;

      img {
        padding: 0.5em;
        border-radius: 8px;
        width: 40px;
        height: 40px;
        object-fit: cover;
      }
    }
  }
}
