@import "../../styles/variables.scss";

.header {
  top: 0;
  position: sticky;
  display: none;
  padding: 0.5em 1.5em;
  max-width: 100%;
  z-index: 1500;
  background-color: #0e0e0e;

  @media (min-width: $lg) {
    display: flex;
  }

  a,
  p {
    color: white;
    text-decoration: none;
    font-size: 1em;
  }

  nav {
    max-width: 1440px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 0 auto;

    .logo {
      height: 50px;
    }

    .rightPanel {
      display: flex;
      gap: 2em;

      &:hover {
        a {
          color: #919191;
          &:hover {
            color: #ffffff;
            box-shadow: 0 2px 0 0 currentcolor;
          }
        }
      }
    }

    ul {
      display: flex;
      justify-content: space-between;
      width: 100%;
    }
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
  color: white;
  background-color: black;
}
