.newsletter {
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding: 1em;
  background-color: rgb(233, 233, 233);

  h2 {
    color: black;
    text-align: center;
    font-size: 1.3em;
    font-weight: 700;
  }

  p {
    font-size: 0.8em;
  }

  &__form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1em;

    &__field {
      display: flex;
      flex-direction: column;
      gap: 0.5em;

      &__name {
        display: flex;
        gap: 0.5em;

        input {
          width: 50%;
        }
      }

      label {
        display: none;
      }
    }

    &__consent {
      display: flex;
      flex-direction: column;
      justify-content: center;

      a,
      label {
        color: black;
        font-size: 0.9em;
      }

      a {
        text-decoration: underline;
      }
    }

    input {
      padding: 0.5em;
      border-radius: 5px;
      border: 1px solid black;
    }

    button {
      padding: 0.5em;
      border-radius: 5px;
      border: 1px solid black;
      background-color: black;
      color: white;
      font-weight: 700;
    }
  }
}
