@import "../../styles/variables.scss";

.green-button {
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
  display: flex;
  font-size: 1em;
  padding: 0.5em 1em;
  text-decoration: none;
  text-transform: uppercase;
  width: fit-content;

  &:hover,
  &:focus {
    color: #fff;
    outline: 0;
  }
}

.third {
  border-color: rgb(21, 99, 51);
  color: #fff;
  box-shadow: 0 0 40px 40px rgb(21, 99, 51) inset, 0 0 0 0 rgb(21, 99, 51);
  transition: all 150ms ease-in-out;

  &:hover {
    box-shadow: 0 0 10px 0 rgb(21, 99, 51) inset, 0 0 10px 4px rgb(21, 99, 51);
  }
}
