button {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 0;
}
.on {
  color: #ffd900;
}
.off {
  color: rgb(121, 121, 121);
}

.star {
  font-size: 2em;
}
