@import "../../styles/variables.scss";

.articles-layout {
  position: relative;
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;

  @media (min-width: 1440px) {
    max-width: 1440px;
  }

  &__background {
    padding: 0.5em 0;

    h2 {
      text-transform: uppercase;
      font-size: 1.3em;
      font-weight: 600;
      margin: 1em 0 0 0;
      color: #0e0e0e;

      @media (min-width: $xs) {
        width: 50%;
        margin: 1em 0;
      }

      @media (min-width: $sm) {
        width: 60%;
      }
    }
  }

  &--rightPanel {
    display: flex;
    flex-direction: column;
    order: 0;

    @media (min-width: $xs) {
      position: absolute;
      margin: 1.3em 0;
      right: 0;
      gap: 2em;
      justify-content: center;
    }

    @media (min-width: $lg) {
      display: none;
    }
  }

  &--pagination {
    margin-top: 2em;
    padding-bottom: 2em;
    order: 2;

    @media (min-width: $lg) {
      width: 70%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}

.articles {
  width: 100%;
  margin: 0 auto;
  gap: 2em;
  order: 1;

  @media (min-width: $lg) {
    display: flex;
  }

  &--container {
    display: flex;
    flex-direction: column;
    gap: 2em;

    @media (min-width: $lg) {
      width: 70%;
    }
  }

  &__filterPanel {
    display: none;

    @media (min-width: $lg) {
      width: 30%;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 1em;
    }
  }
}

.socialMediaRando {
  width: 100%;
}
