@import "../../styles/variables.scss";

.filterPanel {
  margin: 1em auto;

  @media (min-width: 641px) {
    margin: 0 auto;
  }
}

.dropdownMenu {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  color: white;
  gap: 1em;

  @media (min-width: $xs) {
    gap: 0.5em;
  }

  .filter-ico {
    color: #0e0e0e;
  }

  &__custom-select {
    position: relative;
    min-width: 150px;
    max-width: 100%;
    color: #000;

    &__select-button {
      width: 100%;
      background-color: #fff;
      padding: 0.5em;
      font-size: 0.9em;
      border: 1px solid #caced1;
      border-radius: 0.25rem;
      cursor: pointer;
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 0.5em;

      & ::first-letter {
        text-transform: uppercase;
      }

      &--arrow {
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-top: 6px solid #000;
        transition: transform ease-in-out 0.3s;
      }
    }

    &--select-dropdown {
      position: absolute;
      list-style: none;
      width: 180px;
      box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
      background-color: #fff;
      border: 1px solid #caced1;
      border-radius: 4px;
      margin-top: 10px;
      max-height: 200px;
      overflow-y: auto;
      transition: 0.5s ease;
      opacity: 0;
      visibility: hidden;
      height: 0;

      & li {
        position: relative;
        cursor: pointer;
        display: flex;
        gap: 1rem;
        align-items: center;
        padding: 0.5rem;

        &:hover {
          background-color: #f1f1f1;
        }

        &.selected {
          background-color: #000;
          color: white;
        }
      }

      &::-webkit-scrollbar {
        width: 7px;
      }

      &::-webkit-scrollbar-track {
        background: #f1f1f1;
        border-radius: 25px;
      }

      &::-webkit-scrollbar-thumb {
        background: #ccc;
        border-radius: 25px;
      }
    }
  }

  &__custom-select.active .dropdownMenu__custom-select__select-button--arrow {
    transform: rotate(180deg);
  }

  &__custom-select.active .dropdownMenu__custom-select--select-dropdown {
    opacity: 1;
    visibility: visible;
    height: 100px;
  }
}
