@import "../../styles/variables.scss";

.summary {
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding-top: 1.5em;

  h3 {
    font-size: 1em;
    font-weight: 700;
  }

  p {
    font-size: 1em;
    font-weight: 400;
  }
}
